<h1>Добавление задачи</h1>

<%= form_for @task, url: {action: "create"} do |form| %>

<p>
	<%= form.text_area :name %>
</p>

<p>
    <%= form.submit('Добавить') %>
</p>

<% end %>

<%= link_to 'Назад', tasks_path %>